body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 2.5em;
    margin: 30px 0 0 30px;
}

label span {
    width: 130px;
    text-align: right;
}

select{
    width: 200px;
}

#projectManager option {
    padding-left: -2px;
}

.briefing-span {
    float: left;
}

form {
    margin: 0 0 100px 30px;
}

span {
    display: inline-block;
    margin-right: 10px;
}

input {
    position: absolute;
    float: right;
    width: 205px;
}

#submitForm {
    background-color: #009688;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    padding: 5px 20px;
    margin-left: 140px;
}
